---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import PageHeader from "@/components/PageHeader.astro";
import BlogPostCard from "@/components/BlogPostCard.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title="Blog">
  <PageHeader title="Blog" description="A collection of thoughts, tutorials, and guides." />
  <hr class="my-8 border-border/40" />
  <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
    {
      posts.map((post) => (
        <BlogPostCard post={post} />
      ))
    }
  </div>
</BaseLayout>
