---
import { cn } from "@/lib/utils";

interface Props {
  class?: string;
  containerClass?: string;
  id?: string;
}

const { class: className, containerClass, id } = Astro.props;
---

<section id={id} class={cn("py-8 md:py-12 lg:py-16", className)}>
  <div class={cn("container", containerClass)}>
    <slot />
  </div>
</section>
